<div class="container-fluid container-login">
    <app-loading *ngIf="busy"></app-loading>
    <div class="box-login" *ngIf="!busy">
        <form [formGroup]="form">
            <p class="p-header">Restauração de senha</p>
            <input type="text" class="form-control" placeholder="CPF" mask="###.###.###-##" formControlName="document"
            [ngClass]="{'danger-test': (!form.controls.document.valid && !form.controls.document.pristine)}">
            <button class="btn b-roxo" [disabled]="form.invalid" (click)="submit()" style="width: 100%;">RESTAURAR</button>
        </form>

        <a [routerLink]="['/login']" class="p-footer" >CANCELAR</a>
    </div>
</div>